[user]
	name = schulke-214
	email = schulkemaximilian@gmail.com
	signingkey = 93B3C54BBEA28F44
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[core]
	autocrlf = input

[alias]
	fap = fetch --all --prune
	st = status
	co = checkout
	c = commit
	co = commit -m
	a = add
	aa = add -A
	amend = commit --amend
	br = branch
	po = push origin

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
