[user]
	name = Mara Schulke
	email = mara@schulke.xyz
	signingkey = AB0CB7EFCF450759
[commit]
	gpgsign = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[alias]
    work = config user.email "mara.schulke@hum-systems.com"
