export PATH="/home/mara/bin:$PATH"
export PATH="/home/mara/.zsh/utils:$PATH"
export PATH="/home/mara/.cargo/bin:$PATH"
export PATH="/home/mara/.local/bin:$PATH"

xmodmap ~/.config/X11/.xmodmap
xset r rate 300 50
# xinput set-prop 16 "Coordinate Transformation Matrix" 0.5 0 0 0 0.5 0 0 0 1 # https://askubuntu.com/questions/172972/configure-mouse-speed-not-pointer-acceleration
